*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 20px 97px;
    border-bottom: 3px #eaecf0 double;;
    opacity: 0px;
    display: flex;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color:#000000;
}
.info_container{
    padding: 10px 97px;
    width: 446px;
    height: 463px;
    top: 255px;
    left: 97px;
    gap: 0px;
    border-radius: 50px 0px 0px 0px;
    opacity: 0px;
    border-bottom: 3px #eaecf0 double;
    
}
.price{
    
    font-family: "Kanit";
    font-size: 55px;
    font-weight: 300;
    line-height: 82.23px;
    text-align: left;
    color:#292929;
    display: flex;
    align-items: center;
    margin-top:10px;
}
.NIKE_AIR_MAX{
    
    font-family: 'Kanit', sans-serif;
    font-size: 4.35875rem;
    font-weight: 600;
    line-height: 104.26px;
    color: rgba(0, 0, 0, 1);
    margin-top: 1px;
    text-wrap:nowrap;
}
.LEBAGH{
    font-family: 'Kanit', sans-serif;
    font-size: 7rem;
    font-weight: 300;
    line-height: 169.42px;
    color: rgba(252, 113, 45, 1);
    margin-top: -28px;
}
.text_shoes{
    font-family: 'Kanit', sans-serif;
    font-size: 1.089375rem;
    font-weight: 400;
    line-height: 26.07px;
    margin-top: -17px;
    text-transform: capitalize;
    width: 387.92px;
    
}
.Add_To_Cart{
    width: 165px;
    height: 60px;
    border-radius: 50px;
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Kanit', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26.91px;
    color: rgba(41, 41, 41, 1);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.Add_Cart_Price{
    display: flex;
    gap: 49px;
    align-items: center;
}
.Variation {
    display:grid;
    grid-template-columns: repeat(auto-fill,222px);
    margin-left:40px;
}

.card {
    width: 180px;
    height: 120px;
    gap: 0px;
    border-radius: 30px;
    background-color: #E4E4E4;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 68px;
    margin-left: 42px;

}

.name_shoes {
    background-color: #E4E4E4;
    width: 61px;
    height: 24px;
    margin-top: 64px;
    margin-left: 19px;
}

.price_shoes {
    background-color: #E4E4E4;
    width: 29px;
    height: 12px;
    margin: -20px 22px 0px 129px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}
.shoes{
    width: 180px;
    height: 225.1px;
    transform: rotate(-30deg);
    margin-top: -200px;
    margin-left: -17px;
    filter: drop-shadow(4px 4px 2px #00000026);

}
.five_star {
    background-color:#E4E4E4;
    width: 100px;
    margin-left: 19px;
    margin-top: -14px;
}
.Add{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    border:none;
    margin-left:155px;
    margin-top: -10px;
    z-index:1;
}
